.GameOverContainer {
  position: relative;
  margin: 50px auto;
  height: 200px;
  width: 600px;
  padding: 70px;
  background-color: #12222b;
  border-radius: 5px;
  border: 1px solid yellow;
  color: #17737e;
}
