.MessageContainer {
  position: relative;
  margin: 0px auto;
  height: 50px;
  width: 600px;
  padding: 8px 15px;
  background-color: #123239;
  border-radius: 5px;
  color: #339999;
  font-style: italic;
}
