.Figure {
  animation: animationFigure linear;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

@keyframes animationFigure {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(0px, -5px);
  }
  50% {
    transform: translate(0px, -10px);
  }
  75% {
    transform: translate(0px, -5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
