.nav-item {
  font-weight: bold;
}

.LogButton {
  background-color: #12222b;
  border: 2px solid #17737e;
  border-radius: 5px;
  font-weight: bold;
  color: #17737e;
  margin: 0 10px 0 10px;
  width: 100px;
  height: 40px;
  z-index: 99;
}
.LogButton:hover {
  background-color: #17737e;
  color: #12222b;
  transition: ease 0.5s;
}
