.MainContainer {
  background: rgb(30, 31, 36);
  background: radial-gradient(
    circle,
    rgba(30, 31, 36, 1) 0%,
    rgba(5, 27, 41, 1) 100%
  );
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.GameHeader {
  width: 900px;
  height: 50px;
  margin: 0 auto;
  padding-top: 10px;
}

.Gameboard {
  position: relative;
  width: 900px;
  height: 480px;
  padding-top: 3em;
  margin: 0 auto;
}

.SoundPlayer {
  visibility: hidden;
}
.UserInput {
  position: relative;
  width: 900px;
  height: 50px;
  margin: 0 auto;
}

.UserInput button {
  background-color: #12222b;
  border: 2px solid #17737e;
  border-radius: 5px;
  font-weight: bold;
  color: #17737e;
  margin: 0 10px 0 10px;
  width: 100px;
  height: 40px;
  z-index: 99;
}
.UserInput button:hover {
  background-color: #17737e;

  color: #12222b;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 90%;
  }
  50% {
    background-position: 100% 11%;
  }
  100% {
    background-position: 0% 90%;
  }
}
