.MainContainer {
  background: rgb(30, 31, 36);
  background: radial-gradient(
    circle,
    rgba(30, 31, 36, 1) 0%,
    rgba(5, 27, 41, 1) 100%
  );
  padding-top: 5vh;
  height: 95vh;
  width: 100vw;
  position: fixed;
  color: white;
}

.Link {
  color: #339999;
}

.SignupButton {
  background-color: #123239;
  border: 2px solid #339999;
  border-radius: 5px;
  font-weight: bold;
  color: #339999;
  margin: 0 10px 0 10px;
  width: 100px;
  height: 40px;
  z-index: 99;
}
.SignupButton:hover {
  background-color: #339999;
  transition: ease 0.5s;
  color: #123239;
}
