.App {
  text-align: center;
}

.navbar.navbar-expand-lg.navbar-light.bg-dark {
  background-color: #17737e !important;
}

.navbar-light .navbar-brand {
  color: #12222b !important;
  font-weight: bold;
}
.navbar-light .nav-link {
  color: #12222b !important;
  font-weight: bold;
}
