.App {
  text-align: center;
}

.navbar.navbar-expand-lg.navbar-light.bg-dark {
  background-color: #339999 !important;
}

.navbar-light .navbar-brand {
  color: #123239 !important;
  font-weight: bold;
}
.navbar-light .nav-link {
  color: #123239 !important;
  font-weight: bold;
}
